
<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>GOC</title>
	<meta name="description" content="Purbasari">
    
    <!--[if lt IE 9]>
    <link href="jackbox/css/jackbox-ie8.css" rel="stylesheet" type="text/css" />
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
        
    <!--[if gt IE 8]><link href="jackbox/css/jackbox-ie9.css" rel="stylesheet" type="text/css" /><![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="<?php echo base_url().'assets/template/'; ?>rs-plugin/css/settings.css"/>
	<link rel="stylesheet" href="<?php echo base_url().'assets/template/'; ?>css/base.css"/>
	<link rel="stylesheet" href="<?php echo base_url().'assets/template/'; ?>css/skeleton.css"/>
	<link rel="stylesheet" href="<?php echo base_url().'assets/template/'; ?>css/layout.css"/>
    <link rel="stylesheet" href="<?php echo base_url().'assets/template/'; ?>jackbox/css/jackbox_hovers.css"/>
    <link rel="stylesheet" href="<?php echo base_url().'assets/template/'; ?>jackbox/css/jackbox.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <!-- Colors -->
	<link id="colorTheme" rel='stylesheet' href='css/colors/orangeTheme.css'/>
    
    <!-- JS
  ================================================== -->
    
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>js/tiny.accordion.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>js/jacked.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>js/jquery.easing.1.3.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>js/slackBlur.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>js/ddsmoothmenu.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>js/jquery.tweet.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>jackbox/js/libs/jquery.address-1.5.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>jackbox/js/jackbox-swipe.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>jackbox/js/jackbox.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>jackbox/js/libs/StackBlur.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>js/tipsy/jquery.tipsy.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>js/jquery.flexslider.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>js/jquery.fitvids.min.js"></script>
	<script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    
    
    <script type="text/javascript" src="<?php echo base_url().'assets/template/'; ?>js/wiseguys.min.js"></script>
	
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="<?php echo base_url().'assets/template/'; ?>images/icons/icon.ico">
	
</head>
<body>

	<!--//headerBg-->
    <div class="headerBg"></div>
    

	<!-- Primary Page Layout
	================================================== -->

	<div class="container home" data-backgroundImage="images/backgrounds/home.jpg">
    
        
		<header class="sixteen columns" style="height:60px;">
        
        <a href="index.html"><div class="logo" style="height:100%"></div></a>
        
                <nav class="mainmenu">
            
                <div id="smoothmenu" class="ddsmoothmenu">
                
                    <ul>
                    <li><a href="#" class="current">HOME<span></span></a>
                      <!--<ul>
                        <li><a href="index.html" class="selected">TRANSPARENT SLIDER</a></li>
                        <li><a href="index-opaque.html">OPAQUE SLIDER</a></li>
                        <li><a href="index-flex.html">FLEX SLIDER</a></li>
                      </ul>-->
                    </li>
                    
                    <li><a href="#">COMPANY<span></span></a>
                      <ul>
                          <li><a href="gallery-filter-3columns.html">OUR VALUE</a>
                             <!--<ul>
                                <li><a href="gallery-filter-3columns.html">3 COLUMNS</a></li>
                                <li><a href="gallery-filter-4columns.html">4 COLUMNS</a></li>
                                <li><a href="gallery-filter-5columns.html">5 COLUMNS</a></li>
                            </ul>-->
                          </li>
                          <li><a href="gallery-pagination-3columns.html">VISION AND MISSION</a>
                             <!--<ul>
                                <li><a href="gallery-pagination-3columns.html">3 COLUMNS</a></li>
                                <li><a href="gallery-pagination-4columns.html">4 COLUMNS</a></li>
                                <li><a href="gallery-pagination-5columns.html">5 COLUMNS</a></li>
                            </ul>-->
                          </li>
                          <li><a href="gallery-both-3columns.html">OUR HISTORY</a>
                             <!--<ul>
                                <li><a href="gallery-both-3columns.html">3 COLUMNS</a></li>
                                <li><a href="gallery-both-4columns.html">4 COLUMNS</a></li>
                                <li><a href="gallery-both-5columns.html">5 COLUMNS</a></li>
                            </ul>-->
                          </li>
                      </ul>
                    </li>
                    
                    <li><a href="#">OUR BRAND<span></span></a>
                      <ul>
                          <li><a href="#">Purbasari</a>
                             <!--<ul>
                                <li><a href="portfolio-filter-3columns.html">3 COLUMNS</a></li>
                                <li><a href="portfolio-filter-4columns.html">4 COLUMNS</a></li>
                                <li><a href="portfolio-filter-5columns.html">5 COLUMNS</a></li>
                            </ul>-->
                          </li>
                          <li><a href="#">Kanna</a>
                             <!--<ul>
                                <li><a href="portfolio-pagination-3columns.html">3 COLUMNS</a></li>
                                <li><a href="portfolio-pagination-4columns.html">4 COLUMNS</a></li>
                                <li><a href="portfolio-pagination-5columns.html">5 COLUMNS</a></li>
                            </ul>-->
                          </li>
                          <li><a href="#">New Cell</a>
                             <!--<ul>
                                <li><a href="portfolio-both-3columns.html">3 COLUMNS</a></li>
                                <li><a href="portfolio-both-4columns.html">4 COLUMNS</a></li>
                                <li><a href="portfolio-both-5columns.html">5 COLUMNS</a></li>
                            </ul>-->
                          </li>
                          <li><a href="#">Amara</a></li>
						  <!--<li><a href="#">Softwhite</a></li>
						  <li><a href="#">Freya</a></li>-->
                      </ul>
                      
                    </li>
                    
                    <li><a href="#">NEWS<span></span></a>
                      <!--<ul>
                          <li><a href="blog-large.html">BLOG LARGE</a></li>
                          <li><a href="blog-medium.html">BLOG MEDIUM</a></li>
                          <li><a href="single-post-right-image.html">IMAGE POST</a></li>
                          <li><a href="single-post-right-slider.html">SLIDER POST</a></li>
                          <li><a href="single-post-right-vimeo.html">VIMEO POST</a></li>
                          <li><a href="single-post-left-youtube.html">YOUTUBE POST</a></li>
                          <li><a href="single-post-left-lightbox.html">LIGHTBOX POST</a></li>
                      </ul>-->
                    </li>
                    
                    <li><a href="#">CAREER<span></span></a>
                      <!--<ul>
                          <li><a href="feature-faq.html">FEATURE FAQ</a></li>
                          <li><a href="typography.html">TYPOGRAPHY</a></li>
                          <li><a href="pricing-tables.html">PRICING TABLES</a></li>
                          <li><a href="comparisons.html">COMPARISONS</a></li>
                          <li><a href="elements.html">ELEMENTS</a></li>
                          <li><a href="sliders.html">SLIDERS</a></li>
                          <li><a href="sidemenu.html">SIDE MENU</a></li>
                          <li><a href="sitemap.html">SITEMAP</a></li>
                      </ul>-->
                    </li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">CONTACT US<span></span></a></li>
                    </ul>
                    <br style="clear: left" />
                </div><!-- end ddsmoothmenu -->
                
                <!-- Responsive Menu
                ================================================== -->
                
				<form action="#" method="post">
                    <select>
                        <option value="">Navigation</option>
                    </select>
				</form>
				
            </nav>
            
            <span id="menuShadow"></span>
            <span id="submenuArrow"><span class="arrow-up"></span></span>
        
		</header>

        
        <!-- Slider
        ================================================== -->
        <section id="slider" class="sixteen columns headerContent" style="background:url('images/backgrounds/home1.jpg');">
        
            <div id="blurMask">
                <canvas id="blurCanvas"></canvas>
            </div>
            
            <div class="bannercontainer" style="background:url('images/backgrounds/home1.jpg'); background-size:1000px 400px">					
					<div class="banner">
						<ul>	
                        
							<!-- FIRST SLIDE -->
							<li data-transition="boxfade" data-slotamount="5"> 		
								<img src="images/slides/transparent.png" alt="">	
                                <div class="caption lfr" data-x="500" data-y="60" data-speed="1000" data-start="100" data-easing="easeOutExpo"><img src="images/slides/splash.png" style="width:50%" alt=""></div>	
                                <div class="caption lfl" data-x="207" data-y="83" data-speed="900" data-start="200" data-easing="easeOutExpo"><img src="images/slides/wehavethe.png" alt=""></div>	
                                <div class="caption lft" data-x="82" data-y="133" data-speed="900" data-start="300" data-easing="easeOutExpo"><img src="images/slides/creativejuice.png" alt=""></div>
                                <div class="caption lfb" data-x="79" data-y="211" data-speed="900" data-start="400" data-easing="easeOutExpo"><img src="images/slides/yourelookingfor.png" alt=""></div>												
                                <div class="caption lfl normal_grey"  data-x="78" data-y="270" data-speed="900" data-start="600" data-easing="easeOutExpo">Having a beautiful, clear, soft, fresh and youthful skin<br/> complexion is a dream of all women in the world. <br/>
								It is true that we are all born with whatever skin we get and cannot change it, <br/>still we can work with what .</div>	
							</li>
                            
                            <!-- SECOND SLIDE -->
							<li data-transition="boxfade" data-slotamount="5"> 		
								<img src="images/slides/transparent.png" alt="">	
                                <div class="caption lfl" data-x="47" data-y="23" data-speed="1000" data-start="100" data-easing="easeOutExpo"><img src="images/slides/lips.png" style="width:40%" alt=""></div>	
                                
                                <div class="caption lfr" data-x="531" data-y="66" data-speed="900" data-start="1000" data-easing="easeOutExpo"><img src="images/slides/mobilefriendly.png" alt=""></div>
                                <div class="caption lfr" data-x="454" data-y="151" data-speed="900" data-start="1600" data-easing="easeOutExpo"><img src="images/slides/responsivetext.png" alt=""></div>
                                
                                <div class="caption sfb" data-x="648" data-y="250" data-speed="900" data-start="1900" data-easing="easeOutExpo"><a href="#" class="button normal dark reverted">MORE DETAIL</a></div>											

							</li>
                            
                            <!-- THIRD SLIDE --
							<li data-transition="boxfade" data-slotamount="5"  data-thumb="images/other_images/img53.jpg"> 		
								<img src="images/slides/transparent.png" alt="">	
                                <div class="caption lfl" data-x="188" data-y="135" data-speed="1000" data-start="100" data-easing="easeOutExpo"><img src="images/slides/packed.png" alt=""></div>	
                                <div class="caption lfl" data-x="201" data-y="183" data-speed="900" data-start="400" data-easing="easeOutExpo"><img src="images/slides/awesomefeatures.png" alt=""></div>	
                                <div class="caption lfl" data-x="185" data-y="264" data-speed="900" data-start="700" data-easing="easeOutExpo"><img src="images/slides/youcould.png" alt=""></div>
                                <div class="caption lfl" data-x="70" data-y="81" data-speed="900" data-start="700" data-easing="easeOutExpo"><img src="images/slides/finger.png" alt=""></div>
                                
                                <div class="caption sfl" data-x="738" data-y="112" data-speed="300" data-start="1000" data-easing="easeOutExpo"><img src="images/slides/check.png" alt=""></div>
                                <div class="caption lfr normal_grey"  data-x="762" data-y="112" data-speed="300" data-start="1000" data-easing="easeOutExpo">Responsive and mobile friendly</div>
                                <div class="caption sfl" data-x="738" data-y="132" data-speed="300" data-start="1300" data-easing="easeOutExpo"><img src="images/slides/check.png" alt=""></div>
                                <div class="caption lfr normal_grey"  data-x="762" data-y="132" data-speed="300" data-start="1300" data-easing="easeOutExpo">Flexible and higly customizable</div>
                                
                                <div class="caption sfl" data-x="738" data-y="152" data-speed="300" data-start="1600" data-easing="easeOutExpo"><img src="images/slides/check.png" alt=""></div>
                                <div class="caption lfr normal_grey"  data-x="762" data-y="152" data-speed="300" data-start="1600" data-easing="easeOutExpo">36 page templates</div>
                                <div class="caption sfl" data-x="738" data-y="172" data-speed="300" data-start="1900" data-easing="easeOutExpo"><img src="images/slides/check.png" alt=""></div>
                                <div class="caption lfr normal_grey"  data-x="762" data-y="172" data-speed="300" data-start="1900" data-easing="easeOutExpo">Over 200 shortcodes</div>
                                <div class="caption sfl" data-x="738" data-y="192" data-speed="300" data-start="2200" data-easing="easeOutExpo"><img src="images/slides/check.png" alt=""></div>
                                <div class="caption lfr normal_grey"  data-x="762" data-y="192" data-speed="300" data-start="2200" data-easing="easeOutExpo">10 pre-built skins</div>
                                <div class="caption sfl" data-x="738" data-y="212" data-speed="300" data-start="2500" data-easing="easeOutExpo"><img src="images/slides/check.png" alt=""></div>
                                <div class="caption lfr normal_grey"  data-x="762" data-y="212" data-speed="300" data-start="2500" data-easing="easeOutExpo">JackBox lightbox ($10)</div>
                                <div class="caption sfl" data-x="738" data-y="232" data-speed="300" data-start="2800" data-easing="easeOutExpo"><img src="images/slides/check.png" alt=""></div>
                                <div class="caption lfr normal_grey"  data-x="762" data-y="232" data-speed="300" data-start="2800" data-easing="easeOutExpo">Revolution slider ($12)</div>
                                <div class="caption sfl" data-x="738" data-y="252" data-speed="300" data-start="3100" data-easing="easeOutExpo"><img src="images/slides/check.png" alt=""></div>
                                <div class="caption lfr normal_grey"  data-x="762" data-y="252" data-speed="300" data-start="3100" data-easing="easeOutExpo">Ajax contact form Extended ($5)</div>
                                <div class="caption sfl" data-x="738" data-y="272" data-speed="300" data-start="3400" data-easing="easeOutExpo"><img src="images/slides/check.png" alt=""></div>
                                <div class="caption lfr normal_grey"  data-x="762" data-y="272" data-speed="300" data-start="3400" data-easing="easeOutExpo">Isotope portfolio ($25)</div>
                                <div class="caption sfl" data-x="738" data-y="292" data-speed="300" data-start="3700" data-easing="easeOutExpo"><img src="images/slides/check.png" alt=""></div>
                                <div class="caption lfr normal_grey"  data-x="762" data-y="292" data-speed="300" data-start="3700" data-easing="easeOutExpo">Flex portfolio slider</div>
                                												

							</li>
                            
                            
                            <!-- FOURTH SLIDE --
							<li data-transition="boxfade" data-slotamount="5"  data-thumb="images/other_images/img53.jpg"> 		
								<img src="images/slides/transparent.png" alt="">	
                                <div class="caption lfl" data-x="206" data-y="95" data-speed="900" data-start="100" data-easing="easeOutExpo"><img src="images/slides/somecool.png" alt=""></div>	
                                <div class="caption lfl" data-x="78" data-y="135" data-speed="900" data-start="200" data-easing="easeOutExpo"><img src="images/slides/vimeovideo.png" alt=""></div>	
                                <div class="caption lft" data-x="392" data-y="135" data-speed="900" data-start="300" data-easing="easeOutExpo"><img src="images/slides/fingerright.png" alt=""></div>												
                                <div class="caption lfl normal_grey"  data-x="88" data-y="216" data-speed="900" data-start="600" data-easing="easeOutExpo">Lorem ipsum dolor sit amet, consectetur adipiscing<br />elit. Ut sit amet nibh arcu, vitae adipiscing vuomas<br />metus. Sed ultricies, neque ac vulputate tempus, mi<br />arcu libero sodales lacus, eleifend molestie tre tellus<br />neque eget dolor. Sed et arcu non orci iaculis lobort.</div>
                                <div class="caption lfr boxshadow" data-x="525" data-y="88" data-speed="900" data-start="500" data-easing="easeOutExpo"><iframe src="http://player.vimeo.com/video/29298709?title=0&amp;byline=0&amp;portrait=0" width="398" height="223"></iframe></div>
							</li>
                            
                            <!-- FIFTH SLIDE --
							<li data-transition="boxfade" data-slotamount="5"  data-thumb="images/other_images/img53.jpg"> 		
								<img src="images/slides/transparent.png" alt="">	
                                <div class="caption lfr" data-x="629" data-y="95" data-speed="900" data-start="100" data-easing="easeOutExpo"><img src="images/slides/somecool.png" alt=""></div>	
                                <div class="caption lfr" data-x="627" data-y="135" data-speed="900" data-start="200" data-easing="easeOutExpo"><img src="images/slides/youtubevideo.png" alt=""></div>	
                                <div class="caption lft" data-x="500" data-y="130" data-speed="900" data-start="300" data-easing="easeOutExpo"><img src="images/slides/fingerleft.png" alt=""></div>												
                                <div class="caption lfr normal_grey"  data-x="633" data-y="206" data-speed="900" data-start="600" data-easing="easeOutExpo">Lorem ipsum dolor sit amet, consectetur adipiscing<br />elit. Ut sit amet nibh arcu, vitae adipiscing vuomas<br />metus. Sed ultricies, neque ac vulputate tempus, mi<br />arcu libero sodales lacus, eleifend molestie tre tellus<br />neque eget dolor. Sed et arcu non orci iaculis lobort.</div>
                                <div class="caption lfl boxshadow" data-x="75" data-y="88" data-speed="900" data-start="500" data-easing="easeOutExpo"><iframe src="http://www.youtube.com/embed/e2rWG0DCrpI?hd=1&amp;wmode=opaque&amp;controls=1&amp;showinfo=0" width="398" height="223"></iframe></div>
							</li>-->
                            
                            
                            
                            


						</ul>	
						<div class="tp-bannertimer"></div>												
					</div>					
				</div>
            
        </section>
		<span id="menuShadow-center" style="position:relative;margin-top:-17px;top:16px;"></span>
        
        <section class="mainContent" style="padding-bottom:0px;">
		        <!-- contentBgFull
        ================================================== -->

        <div class="contentBgFull"></div>
        
        <!-- Tag Line
        ================================================== -->
        <section id="tagLine" class="sixteen columns row" style="color:#8dc43f;background-color:#fff;">
			<img src="images/icons/icon.png" style="width:75px;border-radius:100%; border:2px solid #81bd00; background:#fff;opacity:0.7;"/>
            <h1 style="color:#8dc43f;font-family:'CabinSemiBold';"> Natural Ingredient - Modern Technology</h1>
        </section>
        
        <div id="tagLineShadow" class="sixteen columns"></div>
        
        <!-- Teasers
        ================================================== -->
        <section class="row offset-by-one">
        
                <div class="onethird" style="text-align:center;transition:all 0.3s ease-out 0s;">
					<i class="fa fa-eye fa-3x" style="width:100%; text-align:center;float:left;padding:10px 0px;"></i>
                    <span style="width:100%; font-size:24px;float:left;margin-top:20px;">OUR VALUE</span>
                    <span style="padding:20px;float:left; text-align:justify;"> Since its first establishment in 1993, PT. Gloria Origita Cosmetics has grown to be a prominent player in skin care and decorative cosmetics industry in South East Asia region, supplying good quality of products to all parts of the country. We have over dedicated 800 staffs in our factories and offices. PURBASARI, KANNA, NEW CELL, SOFT WHITE are some of our brands that distributed throughout Indonesia and some other countries.</span>
				</div>
                
                <div class="onethird" style="text-align:center;transition:all 0.3s ease-out 0s;">
                    <i class="fa fa-quote-right fa-3x" style="width:100%; text-align:center;float:left;padding:10px 0px;"></i>
					<span style="width:100%; font-size:24px;float:left;margin-top:20px;">OUR MOTTO</span>
                    <span style="padding:20px;float:left; text-align:justify;">Since its first establishment in 1993, PT. Gloria Origita Cosmetics has grown to be a prominent player in skin care and decorative cosmetics industry in South East Asia region, supplying good quality of products to all parts of the country. We have over dedicated 800 staffs in our factories and offices. PURBASARI, KANNA, NEW CELL, SOFT WHITE are some of our brands that distributed throughout Indonesia and some other countries.</span>
                </div>
                
                <div class="onethird last" style="text-align:center;transition:all 0.3s ease-out 0s;">
					<i class="fa fa-rocket fa-3x" style="width:100%; text-align:center;float:left;padding:10px 0px;"></i>
                    <span style="width:100%; font-size:24px;float:left;margin-top:20px;">VISION AND MISSION</span>
                    <span style="padding:20px;float:left; text-align:justify;"> Since its first establishment in 1993, PT. Gloria Origita Cosmetics has grown to be a prominent player in skin care and decorative cosmetics industry in South East Asia region, supplying good quality of products to all parts of the country. We have over dedicated 800 staffs in our factories and offices. PURBASARI, KANNA, NEW CELL, SOFT WHITE are some of our brands that distributed throughout Indonesia and some other countries.</span>
                </div>
				<span id="menuShadow-side" style="position:relative;margin-top:-16px;top:70px;"></span>
			<!--<div><img style="margin-top:40px; width:auto;" src="images/header_shadow.png"/></div>-->
        </section>
		
		<section class="row" style="margin-bottom:0px; margin-top:0px;">
			<div style="background:url(images/kecantikan.png) no-repeat fixed 20% 0 #8dc43f;text-align:center;padding:30px 20px;">
				<img src="images/icons/icon.png" style="width:100px;background:#fff;border-radius:100%;opacity:0.7;"/>
				<p style="text-align:center;color:#fff;">Since its first establishment in 1993, PT. Gloria Origita Cosmetics has grown to be a prominent player in skin care and decorative cosmetics industry in South East Asia region, supplying good quality of products to all parts of the country. We have over dedicated 800 staffs in our factories and offices. PURBASARI, KANNA, NEW CELL, SOFT WHITE are some of our brands that distributed throughout Indonesia and some other countries.</p>
			</div>
			<!---->
		</section>
        <span id="menuShadow-center" style="position:relative;margin-top:-16px;top:15px;"></span>
        <!--<div><img style="position:absolute;z-index:9999" src="images/header_shadow.png"/></div>-->
        </section><!-- End // main content -->
        
        
		<footer style="background-color:#8dc43f;margin-top:-35px;">
			<!--<div class="footerBgFull" styLe="background-color:#8dc43f"></div>-->
			<div style="padding:20px;background-color:#8dc43f;">
				<div style="width:50%; float:left;text-align:left;">
					<span style="color:#fff;">Copyright &copy;2015 | PT Gloria Origita Cosmetics</span>
				</div>
				<div style="width:50%; background-color:#8dc43f; float:left; margin:0px; padding-bottom:20px;text-align:right;font-size:11px">
					<span style="padding:20px 10px;"><strong>PRIVACY POLICY</strong></span>
					<span style="padding:20px 10px;"><strong>FAQ</strong></span>
					<span style="padding:20px 10px;"><strong>OUR CONTACT</strong></span>
				</div>
			</div>
		</footer>

	</div><!-- /End container -->


<!-- End Document
================================================== -->
</body>
</html>