
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Wise Guys</title>
	<meta name="description" content="Something awesome :D">
	<meta name="author" content="WiseGuys">
    
    <!--[if lt IE 9]>
    <link href="jackbox/css/jackbox-ie8.css" rel="stylesheet" type="text/css" />
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
        
    <!--[if gt IE 8]><link href="jackbox/css/jackbox-ie9.css" rel="stylesheet" type="text/css" /><![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="rs-plugin/css/settings.css"/>
	<link rel="stylesheet" href="css/base.css"/>
	<link rel="stylesheet" href="css/skeleton.css"/>
	<link rel="stylesheet" href="css/layout.css"/>
    <link rel="stylesheet" href="jackbox/css/jackbox_hovers.css"/>
    <link rel="stylesheet" href="jackbox/css/jackbox.css"/>
    
    <!-- Colors -->
	<link id="colorTheme" rel='stylesheet' href='css/colors/orangeTheme.css'/>
    
    
    <!-- JS
  ================================================== -->
    
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/tiny.accordion.min.js"></script>
    <script type="text/javascript" src="js/jacked.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.min.js"></script>
    <script type="text/javascript" src="js/slackBlur.min.js"></script>
    <script type="text/javascript" src="js/ddsmoothmenu.min.js"></script>
    <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="js/jquery.tweet.min.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="jackbox/js/libs/jquery.address-1.5.min.js"></script>
    <script type="text/javascript" src="jackbox/js/jackbox-swipe.min.js"></script>
    <script type="text/javascript" src="jackbox/js/jackbox.min.js"></script>
    <script type="text/javascript" src="jackbox/js/libs/StackBlur.min.js"></script>
    <script type="text/javascript" src="js/tipsy/jquery.tipsy.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider.min.js"></script>
    <script type="text/javascript" src="js/jquery.fitvids.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    
    
    <script type="text/javascript" src="js/wiseguys.min.js"></script>


	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/icons/favicon.ico">
	<link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-touch-icon-114x114.png">

</head>
<body>


    <div class="headerBg"></div>
    <div class="headerContentBg hidden"></div>


	<!-- Primary Page Layout
	================================================== -->

	<div class="container" data-backgroundImage="images/backgrounds/skyline2.jpg">
    <div class="headerContentBgBoxed hidden"></div>
    
        
		<header class="sixteen columns" style="height:60px;">
        
        <a href="index.html"><div class="logo" style="height:100%"></div></a>
        
                <nav class="mainmenu">
            
                <div id="smoothmenu" class="ddsmoothmenu">
                
                    <ul>
                    <li><a href="#" class="current">HOME<span></span></a>
                      <!--<ul>
                        <li><a href="index.html" class="selected">TRANSPARENT SLIDER</a></li>
                        <li><a href="index-opaque.html">OPAQUE SLIDER</a></li>
                        <li><a href="index-flex.html">FLEX SLIDER</a></li>
                      </ul>-->
                    </li>
                    
                    <li><a href="#">COMPANY<span></span></a>
                      <ul>
                          <li><a href="gallery-filter-3columns.html">OUR VALUE</a>
                             <!--<ul>
                                <li><a href="gallery-filter-3columns.html">3 COLUMNS</a></li>
                                <li><a href="gallery-filter-4columns.html">4 COLUMNS</a></li>
                                <li><a href="gallery-filter-5columns.html">5 COLUMNS</a></li>
                            </ul>-->
                          </li>
                          <li><a href="gallery-pagination-3columns.html">VISION AND MISSION</a>
                             <!--<ul>
                                <li><a href="gallery-pagination-3columns.html">3 COLUMNS</a></li>
                                <li><a href="gallery-pagination-4columns.html">4 COLUMNS</a></li>
                                <li><a href="gallery-pagination-5columns.html">5 COLUMNS</a></li>
                            </ul>-->
                          </li>
                          <li><a href="gallery-both-3columns.html">OUR HISTORY</a>
                             <!--<ul>
                                <li><a href="gallery-both-3columns.html">3 COLUMNS</a></li>
                                <li><a href="gallery-both-4columns.html">4 COLUMNS</a></li>
                                <li><a href="gallery-both-5columns.html">5 COLUMNS</a></li>
                            </ul>-->
                          </li>
                      </ul>
                    </li>
                    
                    <li><a href="#">OUR BRAND<span></span></a>
                      <ul>
                          <li><a href="#">Purbasari</a>
                             <!--<ul>
                                <li><a href="portfolio-filter-3columns.html">3 COLUMNS</a></li>
                                <li><a href="portfolio-filter-4columns.html">4 COLUMNS</a></li>
                                <li><a href="portfolio-filter-5columns.html">5 COLUMNS</a></li>
                            </ul>-->
                          </li>
                          <li><a href="#">Kanna</a>
                             <!--<ul>
                                <li><a href="portfolio-pagination-3columns.html">3 COLUMNS</a></li>
                                <li><a href="portfolio-pagination-4columns.html">4 COLUMNS</a></li>
                                <li><a href="portfolio-pagination-5columns.html">5 COLUMNS</a></li>
                            </ul>-->
                          </li>
                          <li><a href="#">New Cell</a>
                             <!--<ul>
                                <li><a href="portfolio-both-3columns.html">3 COLUMNS</a></li>
                                <li><a href="portfolio-both-4columns.html">4 COLUMNS</a></li>
                                <li><a href="portfolio-both-5columns.html">5 COLUMNS</a></li>
                            </ul>-->
                          </li>
                          <li><a href="#">Amara</a></li>
						  <!--<li><a href="#">Softwhite</a></li>
						  <li><a href="#">Freya</a></li>-->
                      </ul>
                      
                    </li>
                    
                    <li><a href="#">NEWS<span></span></a>
                      <!--<ul>
                          <li><a href="blog-large.html">BLOG LARGE</a></li>
                          <li><a href="blog-medium.html">BLOG MEDIUM</a></li>
                          <li><a href="single-post-right-image.html">IMAGE POST</a></li>
                          <li><a href="single-post-right-slider.html">SLIDER POST</a></li>
                          <li><a href="single-post-right-vimeo.html">VIMEO POST</a></li>
                          <li><a href="single-post-left-youtube.html">YOUTUBE POST</a></li>
                          <li><a href="single-post-left-lightbox.html">LIGHTBOX POST</a></li>
                      </ul>-->
                    </li>
                    
                    <li><a href="#">CAREER<span></span></a>
                      <!--<ul>
                          <li><a href="feature-faq.html">FEATURE FAQ</a></li>
                          <li><a href="typography.html">TYPOGRAPHY</a></li>
                          <li><a href="pricing-tables.html">PRICING TABLES</a></li>
                          <li><a href="comparisons.html">COMPARISONS</a></li>
                          <li><a href="elements.html">ELEMENTS</a></li>
                          <li><a href="sliders.html">SLIDERS</a></li>
                          <li><a href="sidemenu.html">SIDE MENU</a></li>
                          <li><a href="sitemap.html">SITEMAP</a></li>
                      </ul>-->
                    </li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">CONTACT US<span></span></a></li>
                    </ul>
                    <br style="clear: left" />
                </div><!-- end ddsmoothmenu -->
                
                <!-- Responsive Menu
                ================================================== -->
                
				<form action="#" method="post">
                    <select>
                        <option value="">Navigation</option>
                    </select>
				</form>
				
            </nav>
            
            <span id="menuShadow"></span>
            <span id="submenuArrow"><span class="arrow-up"></span></span>
        
		</header>

        
        <!-- Header content
        ================================================== -->
        <!-- For data-layout, you can choose between a color background like that "#aaa", "blur" or "image" -->
        <section id="noslider" class="sixteen columns headerContent" data-layout="blur">
        
            <div id="blurMask">
                <canvas id="blurCanvas"></canvas>
            </div>
            
            <div class="headerContentContainer">
               <div class="pageTitle">The <span class="highlight">Blog</span></div>
               <div class="breadCrumbs"><a href="index.html">Home</a> / <a href="#">Latest news</a>  / <a href="#">Blog</a>  / <span class="highlight">Lorem ipsum</span></div>
            </div>
            
        </section>
        
        <section class="mainContent">
        <div class="contentBgFull"></div>
        
        <!-- Tag Line
        ================================================== -->
        
        <div id="tagLineShadow" class="sixteen columns"></div>
        
        <!-- Blog items
        ================================================== -->
        
        <section class="sixteen columns left-twenty">
        
        
           
           <!-- Start Blog item
           ================================================== -->
           <article class="blog post">
           
              <!--<img class="scale-with-grid" src="images/blog/large_image/1.jpg" alt="" />-->
              
              <!-- Title
              ================================================== -->
              <section class="title clearfix">
                  
                  <div class="blogDate">
                     <p>08</p>
                     <span>Dec 2012</span>
                     <div class="arrow-down"></div>
                  </div>
                  
                  <div class="titleText">
              <h2>Phasellus sit amet erat a risus pellentesque tempor sit amet</h2>
                      <p class="blogMeta">Posted by <a href="#">Admin</a> / in <a href="#">Animation</a> / 285 <a href="#commentSection">Comments</a></p>
                      <div class="lineSeparator"></div>
                  </div><!-- End titleText-->
                  
               </section><!-- End title-->
               
               <!-- Blog content
              ================================================== -->
              <section class="content">
                  
                   <!-- Text
                   ================================================== -->
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis consectetur turpis ut bibendum. Cum sociis natoque fajitin penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sit amet molestie nisl. Aliquam sit amet auctor mauris. Donec ipsum urna, suscipit euismod tempus vitae, tincidunt quis leo. Suspendisse nisi lectus, tincidunt ut condimentum eu, pretium a purus. Nullam in quam sed nisi tincidunt convallis nec ac tellus. Quisque sodales lobortis nunc a ultrices. Morbi urna leo, gravida eu tincidunt in, egestas ac eros. Duis imperdiet velit in risus commodo convallis. Donec blandit, diam ut rhoncus fermentum, augue lorem commodo mi, eget varius enim est id nisl. Morbi nibh risus, tempus nec interdum quis, laoreet nec libero.
</p>

<p>Etiam vel lorem nisi, sed consequat odio. Nam eget libero pharetra metus consectetur vestibulum. Proin porta varius felis, vel molestie augue pharetra sit amet. Nunc ut sapien turpis. Donec mattis orci ut sapien ultrices volutpat. Donec nibh nunc, laoreet at iaculis vitae, malesuada vitae magna. Nam tincidunt vestibulum turpis sit amet iaculis. Nulla consequat adipiscing neque, nec consectetur est eleifend nec. Maecenas velit justo, cursus a rhoncus eget, porttitor at risus. Donec vitae dolor arcu, a sodales orci. Pellentesque purus lectus, ullamcorper quis pellentesque in, hendrerit nec urna.</p>

<p>Fusce tortor nisl, condimentum ac malesuada vel, adipiscing eget tellus. Nulla in neque arcu. Fusce eget mi odio. Praesent consequat, sapien eget cursus hendrerit, risus orci euismod elit, id vestibulum lorem orci molestie nibh. Quisque varius aliquet velit at venenatis. Nunc nec augue quis lacus rutrum placerat. Quisque laoreet turpis eu enim consequat sed tristique lacus porta. Praesent ac imperdiet augue.</p>

<p>Aliquam laoreet nisi a nulla tincidunt aliquam. Nunc eleifend magna non augue gravida tempus in eget ipsum. Nulla nec est non diam aliquam sagittis non id mi. Suspendisse in est lorem. Nulla in nibh urna, ac ultrices magna. Phasellus congue nisi lectus, vel posuere nisi. Fusce ante ipsum, congue nec luctus ut, sagittis vitae nunc. Morbi felis metus, sagittis id faucibus ut, fermentum sed tellus. Donec consequat iaculis ante, sit amet vestibulum tortor tincidunt vitae. Sed sollicitudin augue ut lectus semper convallis. Aenean in tellus vitae nunc feugiat facilisis. Quisque malesuada velit ut tortor fermentum at pellentesque diam volutpat. Cras vitae ante vitae velit ullamcorper porttitor vitae nec arcu.</p>

<p>Suspendisse id tortor tortor, a mollis diam. Sed dapibus convallis risus eu rutrum. In euismod tortor a ipsum tincidunt bibendum. Nam porttitor, magna ut ullamcorper sodales, ligula justo tincidunt mauris, non eleifend nunc metus et neque. Praesent lacinia risus a libero pharetra varius. Ut consequat nibh nec nulla aliquam varius. Aliquam erat volutpat. Pellentesque placerat turpis vestibulum neque egestas scelerisque. Aliquam erat volutpat. Aenean elementum, lectus quis ultrices rhoncus, justo lectus porttitor enim, ut tincidunt nisi ante et diam.</p>

             </section><!-- End Content -->
                   
                  
              
              
           
           </article><!-- End Blog item -->
           
           
           <!-- separator
            ================================================== -->
            
            <div class="lineSeparator sixteen columns row"></div>
            
            
            <!-- Portfolio single navigation
            ================================================== -->
            
            <section class="projectNav row" style="padding:10px 0px;">
               <ul>
                  <li class="projectName"><a href="#">previous post</a></li>
                  <ul>
                   <li class="projectPrev"><a href="#"></a></li>
           <li class="separator"></li>
                     <li class="projectNext"><a href="#"></a></li>
                  </ul>
                  <li class="projectName"><a href="#">next post</a></li>
               </ul>
            </section> 
            
            <!-- separator
            ================================================== -->
            
            <div class="lineSeparator sixteen columns row bottomY-49"></div>
            
        <!-- blog carousel small
        ================================================== -->

        <section class="sixteen columns remove-left">
           
           <div class="sectionHeader row">
           
                <div class="sectionHeadingWrap">
                    <span class="sectionHeading">SIMILAR POSTS</span>
                </div>
                    
                    
                <div class="carouselNav">
                    <div class="carouselPrevious"></div>
                    <div class="carouselNext"></div>
                </div>
                       
           </div>
                
            <div class="carouselWrapper large" data-autoPlay="false" data-autoDelay="3000">
                <ul class="carousel blog">
                    
                    <li>
                      
                        <img width="161" height="122" src="images/blog/similar/8.jpg" alt="" />
                        
                        <div class="blogDate">
                           <p>28</p>
                           <span>Dec 2012</span>
                           <div class="arrow-down"></div>
                        </div>
                        
                        <article>
                           <a href="#"><h4>Suspendi braus es vicat</h4></a>
                           <p class="blogMeta">in <a href="#">Animation</a>, 28 <a href="#">Comments</a></p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitim. Suspendisse fermentum ares enim, in malesuada.</p>
                        </article>
                      
                    </li>
                    
                    <li>
                      
                        <img width="161" height="122" src="images/blog/similar/5.jpg" alt="" />
                        
                        <div class="blogDate">
                           <p>22</p>
                           <span>Dec 2012</span>
                           <div class="arrow-down"></div>
                        </div>
                        
                        <article>
                           <a href="#"><h4>Lorem ipsum dolor sitis fadis mauris cin</h4></a>
                           <p class="blogMeta">in <a href="#">Web design</a>, 49 <a href="#">Comments</a></p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitim. Suspendisse fermentum are.</p>
                        </article>
                    </li>
                    
                    <li>
                      
                        <img width="161" height="122" src="images/blog/similar/7.jpg" alt="" />
                        
                        <div class="blogDate">
                           <p>17</p>
                           <span>Nov 2012</span>
                           <div class="arrow-down"></div>
                        </div>
                        
                        <article>
                           <a href="#"><h4>Faeris lorem ipsum</h4></a>
                           <p class="blogMeta">in <a href="#">Web design</a>, 34 <a href="#">Comments</a></p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitim. Suspendisse fermentum ares enim, in malesuada.</p>
                        </article>
                      
                    </li>
                    
                    <li>
                      
                        <img width="161" height="122" src="images/blog/similar/1.jpg" alt="" />
                        
                        <div class="blogDate">
                           <p>05</p>
                           <span>Nov 2012</span>
                           <div class="arrow-down"></div>
                        </div>
                        
                        <article>
                           <a href="#"><h4>Mauris fadi est lorem genis dumsit</h4></a>
                           <p class="blogMeta">in <a href="#">Motion design</a>, 67 <a href="#">Comments</a></p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitim. Suspendisse fermentum are.</p>
                        </article>
                    </li>
                    
                    
                    
                    
                </ul>
                <div class="clearfix"></div>
            </div>
          
        
        </section><!-- End // Latest Blog Posts -->
        
        <div class="clearfix"></div>
        <div class="separator large row-fifty"></div>
        <div class="clearfix row"></div>

        </section><!-- End twelve columns -->
        <div class="clearfix"></div> 
        </section><!-- End // main content -->


        
        <footer style="background-color:#8dc43f;margin-top:-35px;">
			<!--<div class="footerBgFull" styLe="background-color:#8dc43f"></div>-->
			<div style="padding:20px;background-color:#8dc43f;">
				<div style="width:50%; float:left;text-align:left;">
					<span style="color:#fff;">Copyright &copy;2015 | PT Gloria Origita Cosmetics</span>
				</div>
				<div style="width:50%; background-color:#8dc43f; float:left; margin:0px; padding-bottom:20px;text-align:right;font-size:11px;font-weight:normal;">
					<span style="padding:20px 10px;"><strong>PRIVACY POLICY</strong></span>
					<span style="padding:20px 10px;"><strong>FAQ</strong></span>
					<span style="padding:20px 10px;"><strong>OUR CONTACT</strong></span>
				</div>
			</div>
		</footer>
        
		

	</div><!-- container -->


<!-- End Document
================================================== -->

<!-- Add this javascript
================================================== -->

<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506aac2b00929782"></script>
<link rel="stylesheet" href="styleswitcher/switcher.css">
<script src="styleswitcher/switcher.js"></script>

</body>
</html>